.input{
    width: 100%;
    .input-text{
        width: 100%;
        padding: 17px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #F8FAFC;
    }
}