.btn-events{
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 10px;
        border: 1px solid #F1F5F9;
        outline: none;
        border-radius: 5px;
        background-color: white;
}