.ShortCutItems {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    // padding: 10px 20px;
    .heading {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      p {
        color: #94a3b8;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    .shortcut-item{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      padding: 5px 1px;
      color: #0F172A;
      p{
          font-weight: 600;
          font-size: 14px;
      }
    }
  }