.photo-container{
    display: flex;
    flex-direction: column;
    .photo-sub-titles{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 12px;
        color: #64748B;
        .photos-title-top{
            display: flex;
            gap: 25px;
            font-size: 16px;
            font-size: 700;
            padding: 8px 16px;
            .about-you-photos{
                color:#2563EB;
                display: flex;
                flex-direction: column;
                align-items: center;
                &::after{
                    content: "";
                    width: 176px;
                    height: 4px;
                    background-color: #2563EB;
                    display: block; 
                    margin-top: 5px;
                    border-radius: 50px;
                }
            }
          
        }
        .total-photos{
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 8px;
        }
    }
    .photos-images{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding: 16px;

    }
}

@media screen and (max-width:500px){
    .photo-container{
        width: 100%;
        .photo-sub-titles{
            .photos-title-top{
                gap: 20px;
                font-size: 14px;
                font-size: 700;
                padding: 8px;
                flex-wrap: wrap;
                .about-you-photos{
                  
                    &::after{
                        content: "";
                        width: 140px;                       
                    }
                }
              
            }
        }
        .photos-images {
            padding: 0.5rem;
            gap: 0.5rem;
            .photos-icons-img {
                width: 48%; 
              }
          }
    }
     
}

@media screen and (min-width: 501px) {
    .photos-icons-img {
      width: 23%;
    }
  }    